@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto&display=swap');

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
    background-color: rgb(227, 226, 226);
}

main {
   margin: 1.25rem auto;
   max-width: 600px;
}

header {
   display: flex;
   justify-content: space-evenly;
   padding: 1rem;
   background-color: rgb(42, 112, 112);
   font-family: 'Merriweather', serif;
}

h1 {
    font-size: 1.2rem;
    color: whitesmoke;
}

h2 {
   color: rgb(236, 115, 97);
   border-bottom: 1px solid gray;
   margin-top: 25px;
}

header a:link {
   color: whitesmoke;
   text-decoration: none;
}

header a:visited {
   color: whitesmoke;
}

header ul {
list-style-type: none;
}

.index a:link {
    color:  rgb(236, 115, 97);  
    font-size: 1.2rem;
}

a:visited {
    color: rgb(236, 115, 97);
}

p, h4 {
   margin: 10px 0;
}

.internal-links {
   color:rgb(236, 115, 97);
   margin-right: 25px;
}

footer {
   background-color: rgb(42, 112, 112);
   bottom: 0;
   position: fixed;
   width: 100%;
   color: whitesmoke;
   font-size: 1rem;
   padding: .5rem;
   text-align: center;
}