@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Roboto:wght@300&display=swap');

.todo-app {
   max-width: 300px;
   background-color: whitesmoke;
   color: #264653;
   font-family: 'Handlee', cursive;
   margin-top: 25px;
   padding: 10px;
}

.todo-app h2 {
   color: #264653;
   border-bottom: none;
   text-align: center;
   margin: 0;
}

#task-list {
    margin: 0 auto;
   padding: 0;
   width: 90%;
   list-style-type: none;
   text-align: left;
   border: solid 1px #2a9d8f;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom: none;
}

#task-list li {
   border-bottom: solid 1px #2a9d8f;
   padding: 5px 2px;
   display: flex;
}

#task-list label {
   flex: 2;
   margin: 2px 0 0 5px;
   font-size: 1.25rem;
   color:#264653;
}

.delete-button {
   background-color: whitesmoke;
   color: #e76f51;
   border: none;
   font-size: 1.3rem;
   font-weight: 500;
 }

.list-footer {
   border: solid 1px #2a9d8f;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-top: none;
   margin: 0 auto;
   padding: 5px;
   width: 90%;
   font-size: .7rem;
   display: flex;
   justify-content: space-around;
}

.list-footer button {
   background-color: whitesmoke;
   color: #264653;
   font-family: 'Roboto', sans-serif;
   border: none;
   border-radius: 0;
}

.list-footer p {
   font-family: 'Roboto', sans-serif;
   font-size: 1.1em;
   color: #264653;
}

.list-footer button:focus {
   border: 1px solid #2a9d8f;
   color: #2a9d8f;
}

.add-task {
   margin: 25px auto;
   width: 90%;
   display: flex;
   justify-content: space-between;
}

.add-task input {
   flex: 2;
   margin-right: 2px;
   border: 1px solid #264653;
   border-radius: 5px;
}

.add-task button {
   background-color: whitesmoke;
   border: 1px solid #264653;
   color: #264653;
   border-radius: 5px;
   font-size: 1.3rem;
}

input[type="checkbox"] {
   appearance: none;
   background-color: whitesmoke;
   margin-top: 3px;
   color: #e9c46a;
  width: 1.75em;
  height: 1.75em;
  border: 2px solid #e9c46a;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

 input[type="checkbox"]::before {
   content:"";
   width: 1.25em;
   height: 1.25em;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em 1em 1em #e9c46a;
   transform-origin: bottom left;
   clip-path: polygon(6% 0, 0 7%, 42% 49%, 0 94%, 7% 100%, 50% 54%, 93% 100%, 100% 94%, 58% 49%, 100% 6%, 93% 0, 50% 45%,0% 0%, 0% 100%, 8% 100%, 9% 8%, 93% 7%, 92% 91%, 7% 91%, 8% 100%, 100% 100%, 100% 0%);;
   
 }

 input[type="checkbox"]:checked::before {
   transform: scale(1);
 } 

 input:checked + label {
   text-decoration: #e9c46a line-through;
 }
